@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Tags globais, sofrente alteração em ultimo caso! */

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

span {
    font-size: .9rem;
    color: #757373;
}

h6 {
    font-size: 1.1rem;
    color: rgb(24,24,49);
}

/* Navegação */

nav {
    position: fixed;
    z-index: 1;
    width: 100%;
    background: linear-gradient(0deg, black, #23235a);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1vw, 8vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

nav img{
    padding: 10px;
    width: 8%;
    cursor: pointer;    
}

nav .navegacao ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navegacao ul li{
    list-style: none;
    margin-left: 30px;
}

nav .navegacao ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}

nav .navegacao ul li a:hover{
    color: #5761d1;
}

/* Home */

#home{
    background-image: linear-gradient(rgba(9,5,54,0.3),rgba(5,44,46,0.7)),url("/img/james-webb.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#home h2{
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

#home p {
    width: 50%;
    color: #fff;
    font-size: 0.9rem;
    line-height: 25px;
}

#home .btn{
    margin-top: 30px;
}

#home a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
}

#home a.preto{
    color: #fff;
    background: black;
    transition: 0.3s ease;
}
#home a.preto:hover{
    color: black;
    background: #fff;
}

/* Missão */

#missao{
    padding: 5vw 8vw 0 8vw;
    text-align: center;
}

#missao .quali-base{    
    margin-top: 50px;
    
}

#missao .quali-box{
    text-align: start;
    margin-top: 30px;
}

#missao .quali-box h3{
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(46,46,59);
    padding: 13px 0 7px 0;
}

#missao .quali-box p{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(70,70,87);
}

/* caracteristicas */
#caracter {
    padding: 8vw 8vw 0 8vw;
    text-align: center;
}

#caracter .carct-div{
    margin-top: 50px;
}

#caracter .caract-texto {
    text-align: start; 
    margin-top: 30px;   
}

#caracter .caract-texto h3{
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(46,46,59);
    padding: 13px 0 7px 0;
}
#caracter .caract-texto p {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(70,70,87);
}
#caracter .caract-texto ul {
    list-style: none;
    font-weight: bold;
}
/* galeria */

#galeria{
    padding: 8vw 8vw 0 8vw;
    text-align: center;
}


/* Historia */
#historia {
    padding: 8vw 8vw 0 8vw;
    text-align: center;
}
#historia .historia-cont {
    text-align: start; 
    margin-top: 30px; 
}
#historia .historia-cont h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(46,46,59);
    padding: 13px 0 7px 0;
}
#historia .historia-cont p {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(70,70,87);
    margin-top: 10px;
}



/* registro */

#registro{
    padding: 6vw 8vw 6vw 8vw;
    background-image: linear-gradient(rgba(128, 142, 208, 0.5), rgba(3, 7, 51, 0.566)), url(/img/registro.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#registro .info-p{
    color: #fff;
}
#registro .info-p h1{
    color: #fff;
}

#registro .formulario{
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
}

#registro .formulario input{
    margin: 15px 0;
    padding: 15px 10px;
    border: 1px solid rgb(19, 4, 73);
    outline: none;
}

#registro .formulario input::placeholder{
    color: #413c3c;
    font-weight: 500;
    font-size: 0.9rem;
}

#registro .formulario .btn{
    margin-top: 20px;
}

#registro .formulario a.amarelo{    
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
    color: #fff;
    background: linear-gradient(0deg, black, #23235a);
    transition: 0.3s ease;
}
#registro .formulario a.amarelo:hover{
    color: #fff;
    background: linear-gradient(0deg, rgb(0, 0, 0), #8181f2);
}


/* carrosel */

.carousel {
    position: relative;
    padding: 15px;
    max-width: 80em;
    margin: 30px auto;
}

.carousel-wrapper{
    overflow-x: auto;
}

.gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: none;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.1;
    transition: all 600ms ease-in-out;
}

.arrow-right {    
    left: auto;
    right: 0; 
    background: linear-gradient(to right, transparent 0%, black 200%);
}

.arrow-left:hover,
.arrow-right:hover {
    opacity: 1;
}

.item {
    width: 450px;
    height: 450px;
    flex-shrink: 0;
    opacity: 0.6;
    transition: all 600ms ease-in-out;
}

.current-item {
    opacity: 1;
}

/* This is from w3schools */
/* 
https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
/* Hide scrollbar for Chrome, Safari and Opera */
.carousel-wrapper::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .carousel-wrapper {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }